@mixin cuadrado ($fondo, $width:200px) {
    background-color: $fondo;
    width: $width;
    height: 200px;
    margin-top:5px;
    padding: 10px;
}
.cuadrado-1{
    @include cuadrado(#444, 300px);
}
.cuadrado-2{
    @include cuadrado(#222);
}
.cuadrado-3{
    @include cuadrado(#999, 600px);
}